* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f4f4f4;
  color: white;
  margin: 0;
  line-height: 1.6em;
  padding-bottom: 60px;
}
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#title {
  font: normal 25px sans-serif;
  background-color: #003c67;
  color: white;
}
#navBar {
  background-color: gray;
  color: gray;
}
#navBar ul {
  padding: 0;
  list-style: square;
}
#navBar li {
  display: inline;
}

#navBar a {
  color: white;
  font-size: 20px;
  padding-right: 50px;
  text-decoration: none;
}

#Footer {
  color: black;
  display: inline;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.aboutMe {
  padding: 20px;
  color: #003c67;
}

.educationHeader {
  padding: 40px;
  color: #003c67;
}

.educationHeader h1 {
  position: relative;
  top: 18px;
  left: 10px;
  padding-top: None;
}
.parag {
  border: #003c67;
  border-style: dotted;
  padding: 20px;
  color: #003c67;
  display: inline-flex;
}
.educationDesc {
  display: inline-flex;
}
.parag img {
  padding: none;
  float: right;
  border-radius: 2%;
  max-height: 100%;
  height: auto;
  width: 50%;
  display: inline-flex;
}

/* For specific classes*/
/* .myClass{}

/* For specific IDs*/
/* #myID{}s


/* Precidence: !important ID, Class, Elements (H1) */

/*Margins and Paddings*/

/* Margin --> outside space of element */
/* Padding --> inside size of the element */
